:root {
  --primary-color: #4526a5;
  --primary-color--darker: #291a57;
  --primary-shadow: 0 0 20px rgba(69, 38, 165, .3);
  --text-color: #878787;
  --heading-color: #232323;
}

html {
  scroll-behavior: smooth;
}

.color-primary {
  color: var(--primary-color);
}

.color-text {
  color: var(--text-color);
}

.shadow-filter {
  filter: drop-shadow(0px 15px 8px rgba(0, 0, 0, 0.1));
}

.hero-section {
  background-image: url("../img/banner-1.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-top: 93px;
  text-align: center;
  padding-top: 170px;
}

.hero-section:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 100%;
  background-image: url("../img/vactor-1.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.custom-navbar {
  width: 100%;
  z-index: 1;
  background-color: #4526a5;
}

.custom-nav-link {
  font-weight: bold;
  margin-left: 1.8rem;
}

.hero-section__button {
  background-color: #4526a5;
  border-width: 2px;
  font-weight: bold;
  padding: 10px 30px;
}

.hero-section__button:hover {
  color: var(--primary-color);
}

.hero-section__image {
  width: 50%;
  left: 0;
}

.hero-section__image:nth-child(2) {
  margin-left: -12%;
}

.section {
  padding-top: 50px;
}

.section__header {
  position: relative;
}

.section__header::after {
  content: " ";
  position: absolute;
  bottom: 0;
  width: 120px;
  border-bottom: 3px solid rgba(0, 0, 0, .2);
}

.section__title {
  font-weight: bold;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.section__title::after {
  bottom: 0;
  display: block;
  content: "";
  position: absolute;
  width: 34px;
  left: 10px;
  border-bottom: 5px solid rgba(0, 0, 0, .2);
}

.section__title::before {
  bottom: 0;
  display: block;
  content: "";
  position: absolute;
  width: 44px;
  border-bottom: 5px solid rgba(0, 0, 0, .2);
}

.section__header--center {
  position: relative;
  text-align: center;
}

.section__header--center::after {
  left: 50%;
  transform: translateX(-50%);
  content: " ";
  position: absolute;
  bottom: 0;
  width: 120px;
  border-bottom: 3px solid rgba(0, 0, 0, .2);
}

.section__title--center {
  font-weight: bold;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.section__title--center::before {
  bottom: 0;
  display: block;
  content: "";
  position: absolute;
  width: 44px;
  border-bottom: 5px solid rgba(0, 0, 0, .2);
  left: 50%;
  transform: translateX(-50%);
}

.section__title--center::after {
  content: "";
  bottom: 0;
  position: absolute;
  width: 34px;
  border-bottom: 5px solid rgba(0, 0, 0, .2);
  left: 50%;
  transform: translateX(-12px);
}

.section__header--light .section__title::before  {
  border-color: rgba(255, 255, 255, 0.5);
}
.section__header--light .section__title::after  {
  border-color: rgba(255, 255, 255, 0.5);
}
.section__header--light::after  {
  border-color: rgba(255, 255, 255, 0.5);
}



/* Feature Section */

.section__image {
  width: 100%;
  max-width: 350px;
}

.feature-card {
  border: none;
  margin-bottom: 20px;
  position: relative;
  border-radius: 10px;
  background-color: white;
  text-decoration: none;
  color: var(--text-color);
  transition: all 0.3s ease;
}

.feature-card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-image: url("../img/case-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  transition: all 0.3s ease;
}

.feature-card:hover::before {
  opacity: 0.15;
}

.feature-card:hover {
  background-color: var(--primary-color);
}

.feature-card:hover .feature-card__title {
  color: #fff;
}
.feature-card:hover .feature-card__text {
  color: #fff;
}

.feature-card:hover .feature-card__icon {
  fill: #fff;
}

.feature-card__body {
  z-index: 1;
}

.feature-card__icon {
  width: 60px;
  height: 60px;
  fill: var(--primary-color);
  margin-bottom: 25px;
  transition: all 0.3s ease;
}

.feature-card__title {
  color: #585858;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  transition: color 0.3s ease;
}

.feature-card__text {
  margin: 0;
  transition: color 0.3s ease;
}

/* Benefit Section */
.benefit-section {
  background-image: url(../img/bg-shap-1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  padding-bottom: 50px;
}

.benefit-card {
  border-radius: 0;
  border: none;
  position: relative;
  overflow: hidden;
  transition: background-color .3s ease, color .3s ease;
  margin-bottom: 25px;
}

.benefit-card__image {
  width: 60%;
  min-width: 200px;
}

.benefit-card::after {
  content: "";
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: -50%;
  width: 135%;
  height: 109%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 10%;
  z-index: -2;
}

.benefit-card::before {
  z-index: -2;
  content: "";
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: -50%;
  width: 150%;
  height: 125%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 10%;
}

.benefit-card__body::before {
  z-index: -1;
  content: "";
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: -50%;
  width: 120%;
  height: 90%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 10%;
}

.benefit-card:hover {
  background-color: #4729a3;
  color: #fff;
}

.benefit-card__title {
  font-size: 18px;
  font-weight: bold;
}

.bg-gray {
  background-color: #f9f9f9;
}

.button-slide {
  padding-right: 50px;
  position: relative;
  color: #4526a5;
  font-weight: bold;
  box-shadow: 0 0 0 1px var(--primary-color);
  padding: 10px 64px 10px 64px;
  margin-bottom: 50px;
  transition: all .3s ease;
}

.button-slide::before {
  content: "Check Now";
  display: none;
  transition: all .3s ease;
}

.button-slide__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4526a5;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 46px;
  transition: all .3s ease;
}

.button-slide__text {
  transition: all .3s ease;
}

.button-slide:hover .button-slide__text {
  display: none;
}

.button-slide:hover::before {
  display: inline;
}

.button-slide:hover {
  color: #fff;
  border-color: #4526a5;
  background-color: #4526a5;
}

.button-slide:hover .button-slide__icon {
  color: #4526a5;
  border-color: #4526a5;
  background-color: #fff;
  margin-left: 100%;
  transform: translateX(-100%);
}

.button {
  color: white;
  font-weight: bold;
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  padding: 10px 35px;
  transition: all .3s ease;
  position: relative;
}

.button:hover {
  border-color: var(--primary-color--darker);
  background-color: var(--primary-color--darker);
}

.showcase-section:nth-child(2) {
  padding-bottom: 500px;
}

.showcase-section__front-image {
  position: absolute;
  width: 55%;
  left: 29%;
  bottom: 18%
}

.showcase-section__back-image {
  position: absolute;
  width: 48%;
  left: 12%;
  bottom: 8%
}

.showcase2-section__front-image {
  position: absolute;
  width:40%;
  left: 48%;
  top: 8%;
}
.showcase2-section__back-image {
  position: absolute;
  width:38%;
  left: 12%;
  top: 12%;
}

.video-section {
  width: 100%;
  position: relative;
}

.video-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background-color: #f9f9f9;
}

.video-section__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("../img/shap-2.png");
  background-position: bottom center;
  /* background-repeat: no-repeat; */
  background-size: contain;
}

.video-section__video {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 300px;
  background-image: url("../img/video-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.video-section__video::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4526a5;
  opacity: 0.9;
}

.video-section__video:hover .video-section__play-button{
  font-size: 115px;
}

.video-section__play-button {
  color: #fff;
  font-size: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%);
}
.video-section__caption {
  margin-top: -15px;
  border: none;
  width: 90%;
  background-color: #fff;
}
.video-section__background-container {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 6px;
}
.price-card {
  color: #777777;
  /* margin-bottom: 20px; */
  /* padding-bottom: 60px; */
  position: relative;
  border-radius: 0;
}
.price-card__title {
  text-transform: uppercase;
  font-size: 18px;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 25px;
}
.price-card__price {
  background-color: #f1edfe;
  padding-top: 15px;
  padding-bottom: 15px;
}
.price-card__nominal {
  color: #4526a5;
  font-weight: bold;
  font-size: 40px;
  margin: 0;
  line-height: 1.2;
}
.price-card__currency {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  margin-top: 5px;
  margin-right: 3px;
  vertical-align: top;
}
.price-card__unit {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  margin-bottom: 8px;
}
.price-card__list {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  list-style: none;
  padding: 0;
}
.price-card__list-item {
  margin-bottom: 10px;
}
.price-card__icon {
  position: absolute;
  height: 100%;
  max-height: 160px;
  left: 0;
  bottom: 0;
  margin-bottom: -20px;
  margin-left: -20px;
}

.price-card__footer {
  background-color: white;
  border: none;
  padding-bottom: 60px;
  position: relative;
}
.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.switch__container {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
  margin: 0 20px;
}
.switch__container input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  border-radius: 34px;
  border: 1px solid var(--primary-color);
}
.switch__slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 3px;
  background-color: var(--primary-color);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .switch__slider:before {
  transform: translateX(45px);
}

input:focus + .switch__slider {
  box-shadow: 0 0 1px var(--primary-color);
}
.switch__label {
  color: var(--primary-color);
  margin: 0;
  font-weight: 600;
}

.switch:hover .switch__slider::before {
  box-shadow: 0 0 15px rgba(69, 38, 165, 0.5);
}

.review-section {
  background-image: url("../img/testimonial-bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 100px;
}

.review-card {
  /* margin-top: 120px;
  background-color: #fff;
  border: none;
  color: var(--text-color);
  border-radius: 0;
  position: relative;
  z-index: 1;
  text-align: center;
  margin-bottom: 60px; */
  margin-top: 120px;
  margin-bottom: 120px;
}

.review-card__content {
  /* margin-top: 120px; */
  background-color: #fff;
  border: none;
  color: var(--text-color);
  border-radius: 0;
  position: relative;
  text-align: center;
  z-index: 1;
  /* margin-bottom: 60px; */
}

.review-card::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  height: 60%;
  width: 90%;
  background-color: #fff;
  opacity: .5;
}

.review-card::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  height: 65%;
  width: 80%;
  background-color: #fff;
  opacity: .5;
}

.review-card__image-container {
  background-color: white;
  position: relative;
  width: 130px;
  height: 130px;
  margin: auto;
  margin-top: -110px;
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

.review-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}

.review-card__text {
  margin-top: 30px;
}

.review-card__footer {
  background-color: #fff;
  border: none;
}

.review-card__name {
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
  margin-top: 50px;
}

.review-card__job {
  font-weight: 600;
  color: #ababab;
}

.review-card__name::before {
  content: "";
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 3px;
  background-color: #ccc;
}

.getapp-section {
  background-color: var(--primary-color);
  color: white;
  background-image: url(../img/shap-3.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 60%;
  align-items: center;
}

.getapp-section__image-container {
  position: relative;
}

.getapp-section__image-container img:nth-child(1) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
}
.getapp-section__image-container img:nth-child(2n) {
  left: 0;
  position: relative;
  width: 60%;
}

.button-download {
  display: inline-flex;
  color: white;
  border: 2px solid white;
  padding: 10px 25px;
  border-radius: 10px;
  align-items: center;
  margin-bottom: 10px;
  /* width: 100%; */
}

.button-download__icon {
  width: 36px;
  fill: white;
  transition: fill .3s ease;
}

.button-download__text {
  margin-left: 15px;
  text-align: left;
}
.button-download__top-text {
  margin: 0;
  font-size: .7rem;
  font-weight: bold;
  display: block;
}
.button-download__bottom-text {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: -5px;
}

.button-download:hover {
  display: inline-flex;
  color: var(--primary-color);
  background-color: #fff;
}

.button-download:hover .button-download__icon {
  fill: var(--primary-color);
}

.news-card {
  text-align: left;
  border: none;
  transition: all 0.3s;
  margin-bottom: 25px;
}
.news-card:hover {
  text-decoration: none;
  color: white;
  box-shadow: var(--primary-shadow);
}

.news-card__image {
  height: 250px;
  object-fit: cover;
}

.news-card__date {
  color: var(--text-color);
  font-size: 14px;
  margin-bottom: 14px;
}

.news-card__title {
  color: var(--heading-color);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.news-card__link {
  color: var(--primary-color);
  text-decoration: underline;
  font-weight: bold;
}

.footer {
  background-image: url("../img/footer-bg.png");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 150px;
  padding-bottom: 20px;
  color: var(--text-color);
}

.footer__heading {
  color: var(--heading-color);
  font-size: 22px;
  position: relative;
 padding-bottom: 10px;
 margin-bottom: 30px;
}

.footer__heading::before {
  content: "";
  bottom: 0;
  position: absolute;
  width: 40px;
  border-bottom: 3px solid var(--primary-color);
}
.footer__heading::after {
  content: "";
  bottom: 0;
  left: 43px;
  position: absolute;
  width: 8px;
  border-bottom: 3px solid var(--primary-color);
}

.footer__logo {
  width: 100%;
  max-width: 180px;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-list__item {
  margin-bottom: 12px;
}
.footer-list__link {
  text-decoration: none;
  color: var(--text-color);
  transition: all .3s ease;
}
.footer-list__link:hover {
  text-decoration: none;
  color: var(--primary-color);
}

.footer__copyright {
  color: var(--primary-color);
}

.button-float {
  position: absolute;
  background-color: rgb(24, 24, 24);
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  bottom: 10px;
  right: 20px;
  transition: all .3s ease;
}

.button-float:hover {
  text-decoration: none;
  color: white;
  background-color: var(--primary-color);
}

@media (min-width: 992px) {
  .custom-navbar {
    background-color: transparent;
  }
  .particle-container {
    background-size: contain;
  }
  .hero-section {
    text-align: left;
    padding-left: 80px;
  }
  .custom-card {
    text-align: left;
  }

  .video-section__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .video-section__video {
    border-radius: 0 30px 30px 0;
    width: 60%;
    height: 500px;
  }

  .video-section__video::before {
    border-radius: 0 30px 30px 0;
  }

  .video-section__caption {
    right: 0;
    align-self: center;
    border-radius: 30px 0 0 30px;
    position: relative;
    width: 50%;
    margin-left: -5%;
    padding-right: 15%;
  }

  .video-section__container {
    background-repeat: no-repeat;
  }
}

/* Swiper */
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  justify-content: center;
  align-items: center;
  /* width: 48%; */
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: var(--text-color);
  border-radius: 0;
  vertical-align: bottom;
  opacity: 1;
  transition: all .3s ease;
}

.swiper-pagination-bullet-active {
  width: 35px;
  height: 5px;
  background-color: var(--text-color);
  border-radius: 0;
  vertical-align: bottom;
}